# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [2]:
import os
import pandas as pd
import numpy as np
import re
from __future__ import print_function
PUIdata = os.getenv('PUIDATA')

In [ ]:
# Load dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

In [ ]:
data.columns

In [ ]:
data.head()

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [ ]:
# Check if all Boroughs and Community Districts are represented in the Data 
UniqBoroDistricts = data['Community Board'].unique()
print (UniqBoroDistricts)

# How many unique values do we have? 
print ("Number of Community Boards: ", len(UniqBoroDistricts))
#There are 6 unspecified community boards, one for each boro and one general.

In [ ]:
UniqBoroDistricts.sort()
print (UniqBoroDistricts)

In [ ]:
# Q: Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

# A: There are community boards included in the data that don't actually exist. 
# All districts above 18 are invalid, along with the "unspecified" community boards. 

UniqComplaints = len(data['Unique Key'].unique())
NumUniqueKey = len(data['Unique Key'])
difference = NumUniqueKey - UniqComplaints

In [ ]:
# Check for duplicates? Are these plausible?
print ("Number of \"Unique Key\" in original data set: ", len(data['Unique Key']))
print ("Number of \"Unique Key\" entries in data set after de-duplication: ", UniqComplaints)
print ("Difference: ", difference)
print ("Number of Duplicates: ", difference*2)

#New 
#data['doubles'] = [[data['Unique Key'].value_counts() > 1]]

In [ ]:
#data=data.set_index(['Unique Key'])
#data.head()
#data['doubles'] = data.index.value_counts() > 1
#print (difference)
data=data.drop_duplicates(subset='Unique Key', keep='last')
#data[data.doubles == True]
#print (difference)
data.head()

In [ ]:
#Confirming that duplicate drop worked correctly.
print ("Data row count following duplicates drop: ", len(data)) #Success.

In [ ]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 
# -----------------------------------------------------
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?
# -----------------------------------------------------

#Using Scott's code to create a marker for erroneous community board
data["valid_board"] = np.ones(len(data.Borough), np.float)
data['Complaints'] = np.zeros(len(data.valid_board))
com_grp = data[['Community Board', 'Borough', 'Complaints']].groupby(["Community Board",'Borough'])
com_dists = com_grp.agg('count')


for bname in com_dists.itertuples():
    if re.match(r"[01]\d", bname[0][0]) == None:
        data.valid_board.loc[data['Community Board'] == bname[0][0]] = np.nan
data.valid_board.isnull().sum() #output sum of all NaN values.

In [ ]:
com_dists #Checking community districts.

In [ ]:
# Drop the marked districts
data = data[~data['valid_board'].isnull()]
len(data)

In [ ]:
# Produce your result: Generate an indicator which ranks the Community District by
# complaint numbers on the Community district level
data['Complaints'] = np.zeros(len(data.valid_board))
com_grp = data[['Community Board', 'Borough',
                    'Complaints']].groupby(['Community Board', 'Borough'])
comp_by_board = com_grp.agg({'Complaints' : 'count'})
comp_by_board.head()

In [ ]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level
comp_by_board.sort('Complaints', ascending=False).head()

In [ ]:
# Safe reduced data frame (Community District level) above.

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [7]:
# Population by Community District
df_Demog=pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv')
df_Demog.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [8]:
# Check variables in file
#Printing all column titles to identify variables in data set:
for x in df_Demog.columns:
    print(x)

FIPS
cd_id
Total Population
Population Density (per sq. mile)
% Total Population: Male
% Total Population: 18 to 24 Years
% Total Population: 25 to 34 Years
% Total Population: 35 to 44 Years
% Population 5 Years And Over: Speak Only English
% Population 5 Years And Over: Spanish or Spanish Creole
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"
% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"
Population 25 Years and over:
Population 25 Years and over: Less Than High School
Population 25 Years and over: High School Graduate (includes equivalency)
Population 25 Years and over: Some college
Population 25 Years and over: Bachelor's degree
Population 25 Years and over: Master's degree
Population 25 Years and over: Professional school degree
Population 25 Years and over: Doctorate degree
% Population 25 Years and over: Less Than High School
% Population 25 Years and over: High School Graduate (includes equivalency)
% Population 25 Years and over: Some college
% Population 25 Years and over: Bachelor's degree
% Population 25 Years and over: Master's degree
% Population 25 Years and over: Professional school degree
% Population 25 Years and over: Doctorate degree
Population 25 Years and over:.1
Population 25 Years and over: Less Than High School.1
Population 25 Years and over: High School Graduate or more (includes equivalency)
Population 25 Years and over: Some college or more
Population 25 Years and over: Bachelor's degree or more
Population 25 Years and over: Master's degree or more
Population 25 Years and over: Professional school degree or more
Population 25 Years and over: Doctorate degree.1
% Population 25 Years and over: Less Than High School.1
% Population 25 Years and over: High School Graduate or more (includes equivalency)
% Population 25 Years and over: Some college or more
% Population 25 Years and over: Bachelor's degree or more
% Population 25 Years and over: Master's degree or more
% Population 25 Years and over: Professional school degree or more
% Population 25 Years and over: Doctorate degree.1
Population 3 Years and over:
Population 3 Years and over: Enrolled in School
Population 3 Years and over: Not Enrolled in School
% Population 3 Years and over: Enrolled in School
% Population 3 Years and over: Not Enrolled in School
Population 3 Years and over Enrolled In School
Population 3 Years and over Enrolled In School: Public School
Population 3 Years and over Enrolled In School: Public School: Pre-school
Population 3 Years and over Enrolled In School: Public School: K-8
Population 3 Years and over Enrolled In School: Public School: 9-12
Population 3 Years and over Enrolled In School: Public School: College
Population 3 Years and over Enrolled In School: Private School
Population 3 Years and over Enrolled In School: Private School: Pre-school
Population 3 Years and over Enrolled In School: Private School: K-8
Population 3 Years and over Enrolled In School: Private School: 9-12
Population 3 Years and over Enrolled In School: Private School: College
% Population 3 Years and over Enrolled In School: Public School
% Population 3 Years and over Enrolled In School: Public School: Pre-school
% Population 3 Years and over Enrolled In School: Public School: K-8
% Population 3 Years and over Enrolled In School: Public School: 9-12
% Population 3 Years and over Enrolled In School: Public School: College
% Population 3 Years and over Enrolled In School: Private School
% Population 3 Years and over Enrolled In School: Private School: Pre-school
% Population 3 Years and over Enrolled In School: Private School: K-8
% Population 3 Years and over Enrolled In School: Private School: 9-12
% Population 3 Years and over Enrolled In School: Private School: College
Employed civilian Population 16 Years and over:
Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
Employed civilian Population 16 Years and over: Professional and related occupations
Employed civilian Population 16 Years and over: Healthcare support occupations
Employed civilian Population 16 Years and over: Protective service occupations
Employed civilian Population 16 Years and over: Food preparation and serving related occupations
Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
Employed civilian Population 16 Years and over: Personal care and service occupations
Employed civilian Population 16 Years and over: Sales and related occupations
Employed civilian Population 16 Years and over: Office and administrative support occupations
Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
Employed civilian Population 16 Years and over: Production occupations
Employed civilian Population 16 Years and over: Transportation and material moving occupations
% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations
% Employed civilian Population 16 Years and over: Professional and related occupations
% Employed civilian Population 16 Years and over: Healthcare support occupations
% Employed civilian Population 16 Years and over: Protective service occupations
% Employed civilian Population 16 Years and over: Food preparation and serving related occupations
% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations
% Employed civilian Population 16 Years and over: Personal care and service occupations
% Employed civilian Population 16 Years and over: Sales and related occupations
% Employed civilian Population 16 Years and over: Office and administrative support occupations
% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations
% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations
% Employed civilian Population 16 Years and over: Production occupations
% Employed civilian Population 16 Years and over: Transportation and material moving occupations
Employed Civilian Population 16 Years And Over:
Employed Civilian Population 16 Years And Over: Private Sector
Employed Civilian Population 16 Years And Over: Public Sector
Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
Employed Civilian Population 16 Years And Over: Private Non-Profit
Employed Civilian Population 16 Years And Over: Unpaid Family Workers
% Employed Civilian Population 16 Years And Over: Private Sector
% Employed Civilian Population 16 Years And Over: Public Sector
% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)
% Employed Civilian Population 16 Years And Over: Private Non-Profit
% Employed Civilian Population 16 Years And Over: Unpaid Family Workers
Households:
Households: Less than $10,000
Households: $10,000 to $14,999
Households: $15,000 to $19,999
Households: $20,000 to $24,999
Households: $25,000 to $29,999
Households: $30,000 to $34,999
Households: $35,000 to $39,999
Households: $40,000 to $44,999
Households: $45,000 to $49,999
Households: $50,000 to $59,999
Households: $60,000 to $74,999
Households: $75,000 to $99,999
Households: $100,000 to $124,999
Households: $125,000 to $149,999
Households: $150,000 to $199,999
Households: $200,000 or More
% Households: Less than $10,000
% Households: $10,000 to $14,999
% Households: $15,000 to $19,999
% Households: $20,000 to $24,999
% Households: $25,000 to $29,999
% Households: $30,000 to $34,999
% Households: $35,000 to $39,999
% Households: $40,000 to $44,999
% Households: $45,000 to $49,999
% Households: $50,000 to $59,999
% Households: $60,000 to $74,999
% Households: $75,000 to $99,999
% Households: $100,000 to $124,999
% Households: $125,000 to $149,999
% Households: $150,000 to $199,999
% Households: $200,000 or More
Median household income (In 2014 Inflation Adjusted Dollars)
Per capita income (In 2014 Inflation Adjusted Dollars)
Employed Civilian Population 16 Years And Over:.1
Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
Employed Civilian Population 16 Years And Over: Service occupations
Employed Civilian Population 16 Years And Over: Sales and office occupations
Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations
% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations
% Employed Civilian Population 16 Years And Over: Service occupations
% Employed Civilian Population 16 Years And Over: Sales and office occupations
% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations
% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations
% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations

In [10]:
# How many community districts are in file? 
print("Number of community districts in file: ", len(df_Demog.cd_id.unique()))

Number of community districts in file:  59

In [45]:
#Renaming column names for ease of referencing. 
TotalPop = "Total Population"
PopDens = "Population Density (per sq. mile)"
PctBach = "% Population 25 Years and over: Bachelor's degree or more"
PctMaster = "% Population 25 Years and over: Master's degree or more"
PctProf = "% Population 25 Years and over: Professional school degree or more"
PctDoc = "% Population 25 Years and over: Doctorate degree.1"

In [76]:
#Income:
#Middle class in NYC, according to NYTIMES: $45,000 and $134,000
#http://www.nytimes.com/2013/01/20/realestate/what-is-middle-class-in-manhattan.html
#Extrapolated Lower & Upper accordingly. 

#Language:
df_Demog['% English Speakers'] =  (df_Demog['% Population 5 Years And Over: Speak Only English'] +
                                df_Demog['% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"'])

#Lower Income: 
df_Demog['% Low Income'] = (df_Demog["% Households: Less than $10,000"] +
                        df_Demog["% Households: $10,000 to $14,999"] +
                        df_Demog["% Households: $15,000 to $19,999"] +
                        df_Demog["% Households: $20,000 to $24,999"] +
                        df_Demog["% Households: $25,000 to $29,999"] +
                        df_Demog["% Households: $30,000 to $34,999"] +
                        df_Demog["% Households: $35,000 to $39,999"] +
                        df_Demog["% Households: $40,000 to $44,999"])


df_Demog['% Middle Income'] = (df_Demog["% Households: $45,000 to $49,999"] + 
                             df_Demog["% Households: $50,000 to $59,999"] + 
                             df_Demog["% Households: $60,000 to $74,999"] + 
                             df_Demog["% Households: $75,000 to $99,999"] + 
                             df_Demog["% Households: $100,000 to $124,999"] + 
                             df_Demog["% Households: $125,000 to $149,999"])

df_Demog['% Upper Class'] = (df_Demog["% Households: $150,000 to $199,999"] + 
                           df_Demog["% Households: $200,000 or More"])

#Education
df_Demog['% High School Graduate']=df_Demog['% Population 25 Years and over: High School Graduate or more (includes equivalency)']
df_Demog['% College Educated'] = df_Demog['% Population 25 Years and over: Bachelor\'s degree or more']
df_Demog['% Advanced Degree'] = (df_Demog["% Population 25 Years and over: Master's degree or more"] +  
                                df_Demog["% Population 25 Years and over: Doctorate degree.1"])
df_Demog['% Professional Degree'] = df_Demog["% Population 25 Years and over: Professional school degree or more"]

#Employment:
df_Demog['% Employment Rate'] = (df_Demog['% Employed Civilian Population 16 Years And Over: Private Sector'] + 
                               df_Demog['% Employed Civilian Population 16 Years And Over: Public Sector'] + 
                               df_Demog['% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)'])    

df_Demog_slim = df_Demog[["FIPS", "cd_id", TotalPop, PopDens, "% High School Graduate", "% College Educated", "% Advanced Degree", "% Professional Degree",
                          "% English Speakers", "% Employment Rate", "Low Income", "Middle Income", "Upper Class"]]

In [78]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_Demog_slim
# Save data frame

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% High School Graduate,% College Educated,% Advanced Degree,% Professional Degree,% English Speakers,% Employment Rate,Low Income,Middle Income,Upper Class
0,3603701,BX08,106737,31229.950060,83.07,39.87,21.28,7.24,70.81,87.46,44.12,46.58,9.30
1,3603702,BX12,134644,19966.678390,80.22,23.44,6.37,0.24,85.21,88.58,50.05,43.91,6.04
2,3603703,BX10,121209,12913.817030,82.66,27.17,11.27,1.58,81.30,89.49,41.67,50.40,7.92
3,3603704,BX11,135839,35677.954530,77.16,24.11,12.24,3.39,66.00,90.63,47.73,44.02,8.24
4,3603705,BX03,172247,39405.792220,61.98,11.87,4.59,1.26,66.91,92.49,76.07,22.85,1.07
5,3603705,BX06,172247,39405.792220,61.98,11.87,4.59,1.26,60.07,92.49,76.07,22.85,1.07
6,3603706,BX07,135893,86487.077920,67.09,17.98,4.89,1.06,59.44,88.45,61.14,37.40,1.47
7,3603707,BX05,132850,87974.348600,64.03,12.64,4.79,0.84,58.63,91.85,77.97,21.12,0.89
8,3603708,BX04,141467,71270.882190,62.98,16.26,4.66,0.60,69.86,90.72,70.16,28.17,1.67
9,3603709,BX09,190126,42752.506900,69.66,16.09,4.82,0.46,62.69,92.67,58.70,36.95,4.35
10,3603710,BX01,167147,34412.075240,59.57,9.07,3.10,0.69,56.97,93.19,79.21,19.48,1.30
11,3603710,BX02,167147,34412.075240,59.57,9.07,3.10,0.69,69.24,93.19,79.21,19.48,1.30
12,3603801,MN12,224365,75217.432870,70.15,30.29,14.04,3.29,79.62,87.98,49.86,44.01,6.10
13,3603802,MN09,130739,77402.950100,78.65,43.50,23.56,7.48,71.27,83.08,51.49,36.18,12.32
14,3603803,MN10,132027,91244.889890,81.25,37.76,18.33,5.29,79.25,85.26,53.26,34.46,12.26
15,3603804,MN11111,129713,56066.264730,72.00,27.28,10.65,4.03,78.98,88.17,65.16,28.06,6.79
16,3603805,MN08,221898,109960.139600,97.09,81.27,44.89,16.72,74.88,86.07,20.23,41.55,38.23
17,3603806,MN07,192374,65024.961090,95.75,77.13,51.19,18.46,78.74,86.23,24.03,38.84,37.14
18,3603807,MN05,149447,48626.990950,93.42,71.80,35.84,8.97,58.37,91.11,27.92,38.93,33.13
19,3603807,MN04,149447,48626.990950,93.42,71.80,35.84,8.97,78.19,91.11,27.92,38.93,33.13
20,3603808,MN06,143349,87333.791040,97.96,78.21,41.76,13.58,81.69,90.61,22.57,43.12,34.29
21,3603809,MN03,152453,87256.670150,75.03,44.42,18.12,3.42,67.71,91.27,51.44,34.98,13.58
22,3603810,MN01,159903,53928.053600,95.98,81.11,39.83,12.98,77.08,92.59,20.82,37.86,41.31
23,3603810,MN02,159903,53928.053600,95.98,81.11,39.83,12.98,57.83,92.59,20.82,37.86,41.31
24,3603901,SI03,170741,6968.306388,92.05,33.09,13.31,2.49,63.24,89.83,29.48,50.40,20.11
25,3603902,SI02,126200,6371.997113,87.88,30.26,12.87,2.80,78.43,93.70,32.74,52.31,14.94
26,3603903,SI01,176338,12537.604960,84.57,29.66,11.81,2.88,80.43,89.31,42.22,44.93,12.83
27,3604001,BK01,154713,37671.510580,83.10,49.58,16.26,3.62,82.29,91.60,41.80,43.50,14.72
28,3604002,BK04,137368,54279.761230,66.75,23.65,6.16,0.99,84.47,94.52,54.04,40.77,5.18
29,3604003,BK03,133235,58004.868160,77.10,28.63,10.60,2.28,87.93,87.44,59.74,33.60,6.66
30,3604004,BK02,139070,44719.888150,89.13,58.90,28.90,8.27,79.14,85.79,30.66,45.27,24.08
31,3604005,BK06,125062,31218.503280,92.35,70.33,38.52,11.56,73.14,86.54,20.00,41.62,38.37
32,3604006,BK08,126747,57010.543560,86.66,36.69,15.99,4.09,83.84,89.84,50.10,42.52,7.39
33,3604007,BK16,123772,47796.011830,75.78,12.21,3.94,0.75,76.19,92.34,68.89,29.63,1.50
34,3604008,BK05,155863,26394.764690,77.12,15.10,4.79,0.31,41.53,95.71,62.70,33.62,3.69
35,3604009,BK18,210957,15374.526180,86.15,31.16,12.77,1.94,50.34,91.11,37.33,50.31,12.37
36,3604010,BK17,137526,44659.444610,86.13,21.78,7.69,0.95,35.04,93.03,51.63,41.19,7.17
37,3604011,BK09,109337,64006.179970,84.83,32.12,11.72,2.84,56.70,89.40,53.47,42.13,4.40
38,3604012,BK07,152685,36736.915040,63.42,26.53,10.78,2.76,46.34,90.61,47.52,42.72,9.75
39,3604013,BK10,128545,33069.986680,80.24,38.41,16.50,4.93,31.77,89.45,41.14,46.08,12.79
40,3604014,BK12,170011,54054.487510,75.72,28.99,13.58,3.39,36.55,82.61,51.11,40.18,8.73
41,3604015,BK14,180723,62164.359800,79.14,35.89,14.48,2.42,54.31,89.09,45.94,45.07,8.98
42,3604016,BK15,137815,31829.054410,84.91,39.89,16.99,3.48,41.05,92.12,45.04,44.77,10.21
43,3604017,BK11,187637,50644.631520,72.18,30.15,10.65,2.18,34.90,92.66,47.83,44.25,7.94
44,3604018,BK13,110727,32537.409220,78.68,32.13,11.34,3.29,46.17,93.25,64.36,29.29,6.37
45,3604101,QN01,182860,35800.759600,83.09,43.45,16.46,3.37,71.85,90.49,41.06,48.76,10.16
46,3604102,QN03,182354,44839.980490,68.27,21.42,6.91,1.61,49.58,91.69,44.33,49.08,6.58
47,3604103,QN07,256742,21836.668490,79.28,24.69,9.96,2.33,33.97,94.56,45.36,43.66,10.97
48,3604104,QN11,120996,12991.169540,91.18,43.51,19.99,4.22,45.45,92.42,26.28,57.66,16.04
49,3604105,QN13,193102,9812.563966,87.10,26.91,10.23,2.00,41.08,90.82,29.44,56.40,14.17
50,3604106,QN08,159330,21412.216470,86.38,35.55,16.58,4.32,62.49,93.83,41.01,48.03,10.96
51,3604107,QN04,154740,42497.737460,69.89,24.54,8.66,1.82,60.30,94.10,49.69,44.10,6.20
52,3604108,QN06,107893,38598.784620,92.23,54.19,26.35,8.37,78.42,90.34,34.86,49.90,15.23
53,3604109,QN02,150100,25142.587280,76.64,34.81,13.72,3.07,77.60,92.52,37.54,50.83,11.62
54,3604110,QN05,168488,23005.322980,83.86,25.67,8.78,1.54,77.90,94.19,37.33,52.57,10.10
55,3604111,QN09,151202,31804.100680,77.10,24.00,8.65,2.14,NaN,94.24,36.96,54.55,8.50
56,3604112,QN12,251002,27089.677200,81.35,21.63,7.06,0.98,NaN,93.68,42.93,48.13,8.95
57,3604113,QN10,134827,21979.770830,75.58,19.87,6.63,1.46,NaN,94.48,37.11,49.56,13.33
58,3604114,QN14,107944,9541.923526,74.68,27.23,13.79,3.55,NaN,90.42,50.62,41.14,8.25

In [79]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [80]:
# Check variables in file
for x in df_infr.columns: 
    print(x)

FIPS
Geographic Identifier
Qualifying Name
Households
Households: With An Internet Subscription
Households: Dial-Up Alone
Households: Dsl
Households: With Mobile Broadband
Households: Without Mobile Broadband
Households: Cable Modem
Households: With Mobile Broadband.1
Households: Without Mobile Broadband.1
Households: Fiber-Optic
Households: With Mobile Broadband.2
Households: Without Mobile Broadband.2
Households: Satellite Internet Service
Households: With Mobile Broadband.3
Households: Without Mobile Broadband.3
Households: Two or More Fixed Broadband Types, or Other
Households: With Mobile Broadband.4
Households: Without Mobile Broadband.4
Households: Mobile Broadband Alone or With Dialup
Households: Internet Access Without A Subscription
Households: No Internet Access
% Households: With An Internet Subscription
Households.1
Households: Has A Computer
Households: With Dial-Up Internet Subscription Alone
Households: With A Broadband Internet Subscription
Households: Without An Internet Subscription
Households: No Computer

In [81]:
# How many community districts are in file? 
print ("Number of community districts in file: ", len(df_infr))

Number of community districts in file:  59

In [86]:
#Exploring Community districts.
#for x in (df_infr['Qualifying Name']): 
#    print(x)
    
#for x in (df_infr['Geographic Identifier']):
#    print(x)

In [89]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data

df_infr["cd_id"] = df_infr["Geographic Identifier"]
df_infr[["Qualifying Name", "Households", "Households: With An Internet Subscription", "cd_id"]]

,Qualifying Name,Households,Households: With An Internet Subscription,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,79500US3603701
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,79500US3603702
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,79500US3603703
3,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,79500US3603704
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,79500US3603705
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,79500US3603705
6,"NYC-Bronx Community District 7--Bedford Park, ...",47252,31468,79500US3603706
7,NYC-Bronx Community District 5--Morris Heights...,44699,26332,79500US3603707
8,"NYC-Bronx Community District 4--Concourse, New...",47935,29376,79500US3603708
9,"NYC-Bronx Community District 9--Castle Hill, N...",64011,45976,79500US3603709
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,79500US3603710
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,79500US3603710
12,NYC-Manhattan Community District 12--Washingto...,75352,56940,79500US3603801
13,NYC-Manhattan Community District 9--Hamilton H...,47440,35281,79500US3603802
14,NYC-Manhattan Community District 10--Central H...,57064,36469,79500US3603803
15,NYC-Manhattan Community District 11--East Harl...,49721,30630,79500US3603804
16,NYC-Manhattan Community District 8--Upper East...,114838,103065,79500US3603805
17,NYC-Manhattan Community District 7--Upper West...,97229,85575,79500US3603806
18,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,79500US3603807
19,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,79500US3603807
20,NYC-Manhattan Community District 6--Murray Hil...,80268,70507,79500US3603808
21,NYC-Manhattan Community District 3--Chinatown ...,73578,46168,79500US3603809
22,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,79500US3603810
23,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,79500US3603810
24,NYC-Staten Island Community District 3--Totten...,57658,49218,79500US3603901
25,NYC-Staten Island Community District 2--New Sp...,45266,35085,79500US3603902
26,NYC-Staten Island Community District 1--Port R...,62047,47186,79500US3603903
27,NYC-Brooklyn Community District 1--Greenpoint ...,62990,47013,79500US3604001
28,NYC-Brooklyn Community District 4--Bushwick PU...,47580,33314,79500US3604002
29,NYC-Brooklyn Community District 3--Bedford-Stu...,50688,33438,79500US3604003
30,NYC-Brooklyn Community District 2--Brooklyn He...,57188,46110,79500US3604004
31,"NYC-Brooklyn Community District 6--Park Slope,...",49709,44770,79500US3604005
32,NYC-Brooklyn Community District 8--Crown Heigh...,50266,35043,79500US3604006
33,NYC-Brooklyn Community District 16--Brownsvill...,44269,25372,79500US3604007
34,NYC-Brooklyn Community District 5--East New Yo...,55136,37464,79500US3604008
35,NYC-Brooklyn Community District 18--Canarsie &...,69980,54253,79500US3604009
36,NYC-Brooklyn Community District 17--East Flatb...,50711,35675,79500US3604010
37,NYC-Brooklyn Community District 9--Crown Heigh...,41281,28686,79500US3604011
38,NYC-Brooklyn Community District 7--Sunset Park...,45848,35725,79500US3604012
39,NYC-Brooklyn Community District 10--Bay Ridge ...,48591,37983,79500US3604013
40,NYC-Brooklyn Community District 12--Borough Pa...,46062,28128,79500US3604014
41,NYC-Brooklyn Community District 14--Flatbush &...,61174,45090,79500US3604015
42,NYC-Brooklyn Community District 15--Sheepshead...,53639,40467,79500US3604016
43,NYC-Brooklyn Community District 11--Bensonhurs...,62220,46126,79500US3604017
44,NYC-Brooklyn Community District 13--Brighton B...,45070,28238,79500US3604018
45,NYC-Queens Community District 1--Astoria & Lon...,75758,61861,79500US3604101
46,NYC-Queens Community District 3--Jackson Heigh...,56146,40561,79500US3604102
47,"NYC-Queens Community District 7--Flushing, New...",89206,68446,79500US3604103
48,"NYC-Queens Community District 11--Bayside, New...",43279,37361,79500US3604104
49,NYC-Queens Community District 13--Queens Villa...,59953,50330,79500US3604105
50,"NYC-Queens Community District 8--Briarwood, Ne...",54629,43887,79500US3604106
51,NYC-Queens Community District 4--Elmhurst & So...,45916,33634,79500US3604107
52,NYC-Queens Community District 6--Forest Hills ...,50896,41674,79500US3604108
53,NYC-Queens Community District 2--Sunnyside & W...,52641,44193,79500US3604109
54,"NYC-Queens Community District 5--Ridgewood, Ne...",60344,48488,79500US3604110
55,NYC-Queens Community District 9--Richmond Hill...,44971,36258,79500US3604111
56,"NYC-Queens Community District 12--Jamaica, New...",74848,53848,79500US3604112
57,NYC-Queens Community District 10--Howard Beach...,38041,30313,79500US3604113
58,NYC-Queens Community District 14--Far Rockaway...,39357,28841,79500US3604114

In [ ]:
# Aggregate internet type by high and low connections

In [ ]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('BX', 'BRONX '))
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('MN11111', 'MN11'))
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('MN', 'MANHATTAN '))
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('QN', 'QUEENS '))
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('SI', 'STATEN_ISLAND '))
Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('BK', 'BROOKLYN '))
Demog.head()

In [ ]:
#Demog['splits']=Demog['cd_id'].str.split(' ')
#find=Demog.index.get_loc?
#flip = lambda x: Demog['splits'][find][1] + " " + Demog['splits'][find][0]
#Demog['boro']=Demog['splits'].apply(flip)
Demog['boro']=np.zeros(len(Demog)) 

for i in range (0,len(Demog)):
    Demog['boro'][i] = (Demog['cd_id'].str.split(' '))[i][1] + ' ' + (Demog['cd_id'].str.split(' '))[i][0]

Demog['cd_id']=Demog['cd_id'].map(lambda x: x.replace('STATEN_ISLAND', 'STATEN ISLAND '))

Demog.head()

In [ ]:
data['Community Board']=data['Community Board'].rename('cd_id')

data.rename(columns={'Community Board':'cd_id'}, inplace=True)
#data.columns #Column name changed successfully.

In [ ]:
# Harmonize identifier of dataframe 3

In [ ]:
# Link the 3 dataframes

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?