# PUI Midterm Prep

## Environment Check Up

In [ ]:
os.environ

In [8]:
os.getenv("PUIDATA")

'/home/cusp/bja282/PUIdata'

In [9]:
#For reference: setting up session-specific environmental variables
#os.environ['PUIDATA'] = '/home/cusp/bja282/PUI2016_bja282/PUIDATA'
#os.environ['PUI2016']='/home/cusp/bja282/PUI2016_bja282'
#print(os.environ['PUIDATA'], os.environ['PUI2016'])
#reference: http://stackoverflow.com/questions/5971635/setting-reading-up-environment-variables-in-python

In [11]:
os.getenv("PUI2016")

'/home/cusp/bja282/PUI2016'

## Getting & Importing Data

### Method 1: Curl using OS

### Example 1: Grabbing a function

In [2]:
#Method 1: Curl using OS
import sys
import os as os
import json
from __future__ import print_function

In [3]:
curlcommand = "curl -O"
url="https://raw.githubusercontent.com/fedhere/PUI2016_fb55/1ea83dcf1590d67c102e8dedcc4b7dcf27e73d29/HW4_fb55/getCitiBikeCSV.py"

In [4]:
os.environ

{'LANG': 'en_US.UTF-8', 'TERM': 'xterm-color', 'SHELL': '/bin/bash', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'JPY_PARENT_PID': '5918', 'SHLVL': '0', 'DFDATA': '/gws/open/NYCOpenData/nycopendata/data', 'PUI2016': '/home/cusp/bja282/PUI2016', 'CLICOLOR': '1', 'PUIDATA': '/home/cusp/bja282/PUIdata', 'PWD': '/wingrdp/homedirs/bja282/PUI2016_bja282/Midterm Review', 'USER': 'bja282', 'HOME': '/home/cusp/bja282', 'PATH': '/opt/rh/v8314/root/usr/bin:/opt/rh/nodejs010/root/usr/bin:/opt/rh/rh-python34/root/usr/bin:/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin', 'PAGER': 'cat', 'LD_LIBRARY_PATH': '/opt/rh/v8314/root/usr/lib64:/opt/rh/nodejs010/root/usr/lib64:/opt/rh/rh-python34/root/usr/lib64:/localhome/oracle/11g-client/product/11.2.0/client_1/lib', 'GIT_PAGER': 'cat'}

In [5]:
os.system(curlcommand+ " " + url) #Success.
os.system("mv getCitiBikeCSV.py" + " " + os.getenv("PUIDATA")) #Directory set up successfully

0

### Example 2: Unzipping and accessing a file.

In [46]:
import zipfile
import geopandas as gpd
##Get Pluto data, move to PUIDATA folder, and read it using Geopandas into a dataframe. 
!curl -O "http://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/mn_mappluto_16v1.zip"
os.rename("mn_mappluto_16v1.zip", "mappluto.zip")
plutozip="mappluto.zip"
os.system("mv " + plutozip + " " + os.getenv("PUIDATA"))
zf = zipfile.ZipFile(PUIDATA + "/" + plutozip, mode='r')
zf.extractall(PUIDATA + "/" +  "plutozip/")
zf.close()
plutofile = PUIDATA +"/plutozip/MNMapPLUTO.shp"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 11.6M  100 11.6M    0     0  46.8M      0 --:--:-- --:--:-- --:--:-- 47.4M

In [71]:
#Read Manhattan PLUTO shape file to a dataframe
#geopandas reader resource: http://geopandas.org/io.html
bsize = gpd.read_file(plutofile)
bsize.head()

,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,BldgArea,...,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap,geometry
0,0.000000e+00,None,1592 2 AVENUE,C1-9/TA,None,2,468000.0,1435950.0,1.015450e+09,10885,...,0,1920,None,10028,C1-9,None,None,None,9a,"POLYGON ((997277.2344000041 221816.0936000049,..."
1,1.007230e+09,11/30/2006,263 9 AVENUE,C1-5/R8,None,2,539984.0,11879993.0,1.007238e+09,89203,...,0,1914,None,10001,R8,None,None,None,8d,"POLYGON ((984164.5626000017 211846.0703999996,..."
2,0.000000e+00,None,310 EAST 109 STREET,R7A,None,2,140102.0,343271.0,1.016800e+09,12000,...,0,1910,None,10029,R7A,None,None,None,6b,"POLYGON ((1000742.195800006 227910.6640000045,..."
3,0.000000e+00,None,720 PARK AVENUE,R10/PI/LH-1A,R8B,2,5040000.0,30591900.0,1.013850e+09,203490,...,2006,1928,None,10021,R10,R8B,None,None,8c,"POLYGON ((994007.6886000037 219880.428399995, ..."
4,0.000000e+00,None,3 WEST 83 STREET,R8B,R10A,2,437850.0,1267200.0,1.011970e+09,13839,...,0,1900,None,10024,R8B,R10A,None,None,5d,"POLYGON ((992273.6850000024 224863.4904000014,..."

### Method 2: Pandas Reader with URL

In [6]:
#Method 2: Pandas Reader
from __future__ import print_function
import pandas as pd

In [7]:
countries=pd.read_csv('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')
countries.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

### Method 3 - API connection

In [14]:
#Method 3 - API
from get_jsonparsed_data import get_jsonparsed_data 
#THIS IS A FILE FEDERICA PUT TOGETHER. IT IS CURRENTLY LOCATED IN THE MIDTERM REVIEW FOLDER.

#Connect to file where API key is stored.
json_data = open("apidef.json").read()
myAPI = json.loads(json_data)

#URL to connect to API. Longitude and Latitude currently point to Empire State Building. 
#Replace these with variable or inputs from separate file.
url = ("https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
           "%f,%f&key=%s"%(40.7484, -73.9857, myAPI['GOOGLEAPI']))

#[-1] is location of zip code.
#Address components has all other relevant street level & address information.
revgeo = get_jsonparsed_data(url)["results"][0]['address_components']#[-1]
revgeo #return API results from reverse Google API

[{u'long_name': u'Complejo Torre de las Telecomunicaciones',
  u'short_name': u'Complejo Torre de las Telecomunicaciones',
  u'types': [u'premise']},
 {u'long_name': u'Midtown',
  u'short_name': u'Midtown',
  u'types': [u'neighborhood', u'political']},
 {u'long_name': u'Manhattan',
  u'short_name': u'Manhattan',
  u'types': [u'political', u'sublocality', u'sublocality_level_1']},
 {u'long_name': u'New York',
  u'short_name': u'New York',
  u'types': [u'locality', u'political']},
 {u'long_name': u'New York County',
  u'short_name': u'New York County',
  u'types': [u'administrative_area_level_2', u'political']},
 {u'long_name': u'New York',
  u'short_name': u'NY',
  u'types': [u'administrative_area_level_1', u'political']},
 {u'long_name': u'United States',
  u'short_name': u'US',
  u'types': [u'country', u'political']},
 {u'long_name': u'10001', u'short_name': u'10001', u'types': [u'postal_code']}]

In [27]:
#Using Buses file from Assignment 2 as reference and basis...
import pandas as pd
import urllib2
import json
from pandas.io.json import json_normalize

response = urllib2.urlopen(url)
zipcodes = response.read()
data = json.loads(zipcodes)

#http://stackoverflow.com/questions/21104592/json-to-pandas-dataframe
#Read API response into a normallized dataframe.
df_zipcodes=json_normalize(data['results'][0]['address_components'][-1])
df_zipcodes

  long_name short_name          types
0     10036      10036  [postal_code]

In [35]:
import numpy as np

#Reading in Citibike data. Will drop all columns except Latitude and Longitude to then use Reverse Google API to
#look up and append zip code for each entry.
datestring = '201501'
df_citibike = pd.read_csv(os.getenv('PUIDATA')+'/' + datestring + '-citibike-tripdata.csv')
df_latlong=df_citibike[['end station latitude','end station longitude']]

#create a new column named "zipcodes" and fill it with zeroes, which will be replaced by zip code.
df_latlong['zipcodes'] = np.zeros(len(df_citibike)) 
df_latlong.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   end station latitude  end station longitude  zipcodes
0             40.722293             -73.991475       0.0
1             40.739355             -73.999318       0.0
2             40.749013             -73.988484       0.0
3             40.688515             -73.964763       0.0
4             40.726218             -73.983799       0.0

In [31]:
a = (df_latlong[['end station latitude', 
                'end station longitude']].values.astype(float))

#IMPORTANT TO DROP DUPLICATES - saves on API calls.
for x in pd.DataFrame(a).drop_duplicates().values:
    url = ("https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
           "%f,%f&key=%s"%(
            x[0], x[1], myAPI['GOOGLEAPI']))
    revgeo = get_jsonparsed_data(url)["results"][0]['address_components'][-1]
    df_latlong['zipcodes'][(df_latlong['end station latitude'] == x[0]) * 
           (df_latlong['end station longitude'] == x[1])] = revgeo['long_name']

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
df_latlong.head()

   end station latitude  end station longitude zipcodes
0             40.722293             -73.991475    10002
1             40.739355             -73.999318    10011
2             40.749013             -73.988484    10001
3             40.688515             -73.964763    11205
4             40.726218             -73.983799    10009

### Method 4: Getting Data from the Data Facility
#### Using DFDATA environmental variable

From Federica's midterm prep: "You may be asked to access data that also exists on the CUSP data facility, and that should be welcome by you because accessing data from the Data Facility is trivial when on compute:

<ol>find the <i>path</i> of the data and read it in as if it were on compute (example below)</ol>

In [33]:
#Getting data from the data facility
#Check environmental variable
DFDATA=os.getenv('DFDATA')

In [34]:
#Can get URL directly from data facility. Should be in format comparable to what's below.
#Read in using pandas.
df_gas=pd.read_csv(DFDATA + "/uedp-fegm/1414245967/uedp-fegm")
df_gas.head()

,Zip Code,Building type (service class,Consumption (therms),Consumption (GJ),Utility/Data Source
0,"10001\n(40.75025902143676, -73.99688630375988)",Residential,58338.0,6155.0,ConEd
1,"10002\n(40.71612146793143, -73.98583147024613)",Residential,550055.0,58034.0,ConEd
2,"10003\n(40.73194394755518, -73.98887214913032)",Residential,260502.0,27484.0,ConEd
3,"10005\n(40.7061257920717, -74.00858468583453)",Residential,265.0,28.0,ConEd
4,"10006\n(40.70825614030866, -74.01355356964149)",Residential,2076.0,219.0,ConEd

### Method 5: Getting Data using a function
##### getCitiBikeCSV function was written by Federica for Citibike assignment and is stored in PUIDATA folder.

In [23]:
#CALLING UP A FUNCTION IN SEPARATE FOLDER
PUIDATA=os.getenv('PUIDATA')
import sys
sys.path.insert(0, PUIDATA)
from getCitiBikeCSV import getCitiBikeCSV
getCitiBikeCSV #Confirming that it works properly.

In [24]:
datestring = '201501'
getCitiBikeCSV(datestring)
df_W = pd.read_csv(os.getenv('PUIDATA')+'/' + datestring + '-citibike-tripdata.csv')
print (df_W.columns)

('Downloading', '201501')
file in place, you can continue
Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

## Joining Datasets

Federica's commentary: Think about what the "how" option allows you to do: merge to get the <i>intersection</i> (only the rows in both dataframes), the <i>union</i> (all rows in both dataframes, with NaN where either one has missing values) or <i>left</i> and <i>right</i>, which iport teh values of the other dataframe on to the one you are merging to, but do not import rows that are only in the other dataframe. 

References: <br>
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html<br>
https://github.com/fedhere/UInotebooks/blob/master/dataWrangling/PandasDataWrangling-Chap7.ipynb

### Simple example:

In [57]:
from pandas import Series, DataFrame
import pandas
import pandas as pd

df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [58]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [59]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [62]:
pd.merge(df1, df2, on="key", how="inner")

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

### Advanced Example from HW6:

In [65]:
#Get Energy data using API call, then load that data into a dataframe. 
#https://dev.socrata.com/foundry/data.cityofnewyork.us/7drc-shp9
query = ("https://data.cityofnewyork.us/resource/m46j-75iy.json")
raw_data = pd.read_json(query)	
df_nrg = pd.DataFrame(raw_data)

In [68]:
#Check columns:
#df_nrg.columns
#bsize.columns

In [72]:
#Drop unnecessary columns
#Format appropriately for later manipulation (pd.to_numeric)

bsize = bsize[['UnitsTotal','BBL']]
df_nrg = df_nrg[['zip_code', 'site_eui_kbtu_ft2', 'nyc_borough_block_and_lot_bbl', 'reported_property_floor_area_building_s_ft']]
pd.to_numeric(df_nrg['site_eui_kbtu_ft2'], errors='coerce')
pd.to_numeric(df_nrg['reported_property_floor_area_building_s_ft'], errors='coerce')

0        918919.0
1             NaN
2         64200.0
3             NaN
4         50000.0
5         61800.0
6        102198.0
7         46620.0
8             NaN
9         54029.0
10            0.0
11       171502.0
12            NaN
13        68750.0
14            NaN
15            NaN
16       330000.0
17            NaN
18        69160.0
19        52974.0
20        82200.0
21        63360.0
22        52960.0
23            NaN
24            NaN
25       154754.0
26       465667.0
27            NaN
28        68329.0
29        66546.0
           ...
16140         NaN
16141         NaN
16142         NaN
16143         NaN
16144         NaN
16145         NaN
16146         NaN
16147         NaN
16148         NaN
16149         NaN
16150         NaN
16151         NaN
16152         NaN
16153         NaN
16154         NaN
16155         NaN
16156         NaN
16157         NaN
16158         NaN
16159         NaN
16160         NaN
16161         NaN
16162         NaN
16163         NaN
16164         NaN
16165         NaN
16166         NaN
16167         NaN
16168         NaN
16169         NaN
Name: reported_property_floor_area_building_s_ft, dtype: float64

In [74]:
# preparing columns - columns must have same name in order to merge.
df_nrg.rename(columns={'nyc_borough_block_and_lot_bbl':'BBL'}, inplace=True)
#merge
bblnrgdata = pd.merge(df_nrg, bsize, how='inner', on='BBL')
#check output
bblnrgdata.head()

,zip_code,site_eui_kbtu_ft2,BBL,reported_property_floor_area_building_s_ft,UnitsTotal
0,10001.0,NaN,1.006700e+09,#N/A,1
1,10009.0,NaN,1.004370e+09,#N/A,4
2,10022.0,125.4,1.013110e+09,330000,56
3,10003.0,NaN,1.009220e+09,#N/A,148
4,NaN,NaN,1.007400e+09,68329,1

## Dropping and Reducing Data

### dropping nan values in a dataframe
    df['ageM'].dropna(inplace = True)
    df['ageF'].dropna(inplace = True)

DataFrame.apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds)

    Applies function along input axis of DataFrame.

    Objects passed to functions are Series objects having index either the DataFrame’s index (axis=0) or the columns (axis=1). Return type depends on whether passed function aggregates, or the reduce argument if the DataFrame is empty.

inline functions tutorial and reference: http://www.python-course.eu/lambda.php<br>
apply and map tutorial and reference: http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html

### Apply

In [98]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

capitalizer = lambda x: x.upper()

df['name'].apply(capitalizer)

Cochice       JASON
Pima          MOLLY
Santa Cruz     TINA
Maricopa       JAKE
Yuma            AMY
Name: name, dtype: object

#Map the capitalizer lambda function over each element in the series 'name'
#map() applies an operation over each element of a series

In [107]:
df['name']=df['name'].map(capitalizer)
df['coverage']=df['coverage'].map(np.square)

In [108]:
df.head()

            coverage   name  reports  year
Cochice         25.0  JASON        4  2012
Pima            94.0  MOLLY       24  2012
Santa Cruz      57.0   TINA       31  2013
Maricopa        62.0   JAKE        2  2014
Yuma            70.0    AMY        3  2014

### Lambda and Mapping Combo Examples

In [82]:
#Lambda: Sets up inline function or manipulation. Good for defining inline formulas without needing to 
#declare new variables. (Remember to make sure that these formulas have proper parentheses so that order
#of operations is clear.)
f = lambda x, y : (x + y) * 2
f(1., 1.)

4.0

In [93]:
#Map
#Convert to and from Farenheit and Celcius using map and lambda

Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)

print("Fahrenheit: ", Fahrenheit)

#C = map(lambda x: (float(5)/9)*(x-32), Fahrenheit)
print("Celcius: ", C)

Fahrenheit:  [102.56, 97.7, 99.14, 100.03999999999999]
Celcius:  [39.2, 36.5, 37.300000000000004, 37.8]

In [94]:
#Apply map to multiple lists at once
a = [1,2,3,4]
b = [17,12,11,10]
map(lambda x,y:x+y, a,b)

[18, 14, 14, 14]

## Hypothesis Testing

In [119]:
#Check slides included in folder for help.

## Plotting

### plotting histograms 
    ax = pl.figure(figsize = (10,5)).subplots(1,2)

    bins = np.arange(10, 110, 10) 
    axM = df.ageM.groupby(pd.cut(df.ageM, bins)).agg([count_nonzero]).plot(kind='bar', 
                                                                    legend=False, ax=ax[0])
    axM.set_title("male riders")
    axF = df.ageF.groupby(pd.cut(df.ageF, bins)).agg([count_nonzero]).plot(kind='bar',
                                                                    legend=False, ax=ax[1])
    axF.set_title("female riders")

Reference:

    numpy.arange([start, ]stop, [step, ]dtype=None)¶ (https://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html)

### Cumulative Plots

    csM=df.ageM.groupby(pd.cut(df.ageM, bins)).agg([count_nonzero]).cumsum()

    csF=df.ageF.groupby(pd.cut(df.ageF, bins)).agg([count_nonzero]).cumsum()

    print (np.abs(csM / csM.max()-csF / csF.max()))

    pl.plot(bins[:-1] + 5, csM / csM.max(), label = "M")
    pl.plot(bins[:-1] + 5, csF / csF.max(), label = "F")
    pl.plot(bins[:-1] + 5, np.sqrt(csF / csF.max() - csM / csM.max())**2, 'k-',
            label = "difference")

    pl.legend()

## Statistic Reference & Tests:

#### The law of large numbers 
is a principle of probability according to which the frequencies of events with the same likelihood of occurrence even out, given enough trials or instances. As the number of experiments increases, the actual ratio of outcomes will converge on the theoretical, or expected, ratio of outcomes.

### KS Test

In [142]:
#KS Test:
import scipy.stats
alpha=.05
x=np.random.random_integers(1,200, 10)
y=np.random.random_integers(1, 800, 10)
ks = scipy.stats.ks_2samp(x, y)
print (ks)

Ks_2sampResult(statistic=0.7, pvalue=0.0068986471009461281)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: DeprecationWarning: This function is deprecated. Please call randint(1, 200 + 1) instead
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: DeprecationWarning: This function is deprecated. Please call randint(1, 800 + 1) instead

In [144]:
#KS Test Rejection or Acceptance of Null Hypothesis
def printRejection(ksp, pv):
    print ("the Null hypothesis that the samples come from identical distributions ")

    if ksp > pv: 
        print ("cannot be rejected")
    else: 
        print ("is rejected (p<{:.2f})".format(pv))
printRejection(ks[1], alpha)

the Null hypothesis that the samples come from identical distributions
is rejected (p<0.05)

### Pearson & Spearman Tests

#### Pearson product moment correlation

The Pearson correlation evaluates the <b>linear relationship</b> between two continuous variables. A relationship is linear when a change in one variable is associated with a proportional change in the other variable.

For example, you might use a Pearson correlation to evaluate whether increases in temperature at your production facility are associated with decreasing thickness of your chocolate coating.

#### Spearman rank-order correlation

The Spearman correlation evaluates the <b>monotonic relationship</b> between two continuous or ordinal variables. In a monotonic relationship, the variables tend to change together, but not necessarily at a constant rate. The Spearman correlation coefficient is based on the ranked values for each variable rather than the raw data.

Spearman correlation is often used to evaluate relationships involving ordinal variables. For example, you might use a Spearman correlation to evaluate whether the order in which employees complete a test exercise is related to the number of months they have been employed.

It is always a good idea to examine the relationship between variables with a scatterplot. Correlation coefficients only measure linear (Pearson) or monotonic (Spearman) relationships. Other relationships are possible.